.header-title{
    color: $color-clouds;
    font-family: $poppins-fontfamily;
    font-weight: 700;
}

.filter{
    display: none;
}
.filter-text{
    font-family: $poppins-fontfamily;
    font-weight: 400;
    background-color: $color-alzarin;
    color: $color-clouds;
    padding: 3px 10px;
    border-radius: 30px;
}

.job-title-listing{
    color: $color-midnight;
    font-family: $poppins-fontfamily;
    font-weight: 600;
}

.job-detail-listing{
    color: $color-midnight;
    font-size: 14.0;
    font-family: $poppins-fontfamily;
    font-weight: 400;
    &__location{
        color: $color-midnight;
        font-size: 14.0;
        font-weight: 400;
        font-family: $poppins-fontfamily;
    }
    &__salary{
        color: $color-midnight;
        font-size: 14.0;
        font-weight: 600;
        font-family: $poppins-fontfamily;
    }
    &__posted{
        color: $color-americanriver;
        font-size: 14.0;
        font-weight: 600;
        font-family: $poppins-fontfamily;
    }
}

.box-shadowed{
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        box-shadow: 3px 3px 2px #95a5a6;
}
 
.job-title{
    color: $color-midnight;
    font-family: $poppins-fontfamily;
    font-size: 18.0;
    font-weight: 600;
}

.description{
    color: $color-midnight;
    font-size: 14.0;
    font-family: $poppins-fontfamily;
    font-weight: 400;
}

.sub-header{
    color: $color-midnight;
    font-size: 14.0;
    font-weight: 600;
    font-family: $poppins-fontfamily;
}

 

.job-list{
    min-height: 1000px;
}

.main-container{
    min-height: 1000px;
}
 

.footer{
    margin-top: 75px;
    background-color: $color-midnight;
}

.social-media li>a{
    font-family: $poppins-fontfamily;
    font-weight: 600;
    color: $color-clouds;
}

.btn-search:hover{
    background-color: $color-pumpkin ;
}

#search-job:focus{
    outline-color: $color-pumpkin;
}


