.header-title{
    color: $color-clouds;
    font-family: $poppins-fontfamily;
    font-weight: 700;
}

.job-title-listing{
    color: $color-midnight;
    font-family: $poppins-fontfamily;
    font-weight: 600;
}

 