 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";

$poppins-fontfamily :  'Poppins', sans-serif;

$color-midnight : #2c3e50;
$color-pumpkin : #d35400;
$color-clouds : #ecf0f1;
$color-wetasphalt: #34495e;
$color-silver : #bdc3c7;
$color-lynxwhite: #f5f6fa;
$color-americanriver : #b2bec3;
$color-pomegranate: #c0392b;
$color-alzarin: #e74c3c;