 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

$poppins-fontfamily :  'Poppins', sans-serif;

$color-midnight : #2c3e50;
$color-pumpkin : #d35400;
$color-clouds : #ecf0f1;
$color-wetasphalt: #34495e;
$color-silver : #bdc3c7;
$color-lynxwhite: #f5f6fa;